@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Rancho&family=Roboto:ital,wght@0,400;1,300;1,400;1,700&family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

/* ------- Setup full size hero image ------ */
.top-container{
    height: 50vh;
    width: 100%;
    background: url("../images/main-image.jpg") no-repeat fixed;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------ Navbar ------- */
#logo{
    font-family: 'Fredericka the Great', cursive;
    color: rgb(207, 23, 23);
    font-weight: 700;
}

#logo-img{
    width: 50px;
    height: auto;
}

.social-icon{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline;
    background-color: black;
}

.navbar-toggler-border{
    border-radius: 3px;
    padding: 5px;
}
/* ---Main Header */

.background-header{
    background-color: rgb(72,65,65, 0.5) ;
    border-radius: 30px;
}

.main-header {
    color: #fff;
}

/* ------ Special Dishes ------- */

.speical-dishes-image{
    height: 200px;
}

.card-sepcial-dish{
    width: 100%; 
    min-height: 330px;
}

.heading{
    color:  rgb(207, 23, 23);
    font-family: 'Fredericka the Great', cursive;
}

.card-title{
    font-family: 'Rancho', cursive;   
}

/* ------ Reviews ------- */
.review-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.review-image-heading{
    display: inline;
    font-family: 'Rancho', cursive;
}

/* ------ footer ------- */
.footer-bg{
    background-color:rgba(31, 25, 25, 0.8);
}

/*--Book Table--*/

.top-container-book-table{
   height: 50vh;
    width: 100%;
    background: url("../images/book-table-image.jpg") no-repeat fixed;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center; 
}

#inputMobile::-webkit-outer-spin-button,
#inputMobile::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
