@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Rancho&family=Roboto:ital,wght@0,400;1,300;1,400;1,700&family=Sail&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

/* ------- Index page hero image ------ */

.top-container {
    height: 80vh;
    width: 100%;
    background: url("../images/main-image.jpg") no-repeat fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------ Navbar ------- */

#logo {
    font-family: "Fredericka the Great", cursive;
    color: rgb(207, 23, 23);
}

#logo-img {
    width: 30px;
    height: auto;
}

.navbar-toggler-border {
    border-radius: 2px;
}

.active {
    background-color: rgba(102, 102, 102, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(207 23 22);
}

/* ---Main Header */

.background-header {
    background-color: rgba(72, 65, 65, 0.9);
    border-radius: 10px;
}

.main-header {
    color: #fff;
    font-family: "Fredericka the Great", cursive;
}

.sub-header {
    color: #fff;
    font-family: "Fredericka the Great", cursive;
}

#logo-img-header {
    width: 30px;
    height: auto;
}

/* ------ Special Dishes ------- */

.speical-dishes-image {
    height: 200px;
    width: auto;
    object-fit: cover;
}

.sub-heading {
    color: rgb(207, 23, 23);
    font-family: "Fredericka the Great", cursive;
}

.card-title {
    font-family: "Rancho", cursive;
}

/* ------ Reviews ------- */

.review-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.review-image-heading {
    display: inline;
    font-family: "Rancho", cursive;
}

/* ------ footer ------- */
.footer-bg {
    background-color: rgba(31, 25, 25, 0.8);
}

.google-map{
    width: 100%;
    height: 410px;
    
}

/*--Book Table--*/

.top-container-book-table {
    height: 80vh;
    width: 100%;
    background: url("../images/book-table-image.jpg") no-repeat fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

#inputMobile::-webkit-outer-spin-button,
#inputMobile::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#reserve-table-text {
    min-width: 100%;
}

/*--Contact Us--*/

.top-container-contact-us {
    height: 80vh;
    width: 100%;
    background: url("../images/book-table-image.jpg") no-repeat fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*--Catering--*/

.top-container-catering {
    height: 80vh;
    width: 100%;
    background: url("../images/buffet.jpg") no-repeat fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.catering-image{
    width: 100%;
}

/*--Menu--*/

.top-container-menu {
    height: 80vh;
    width: 100%;
    background: url("../images/menu.jpg") no-repeat fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-background {
    background-image: url("../images/background-menu.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.menu-list-background {
    background-color: #eeeeee;
}

.menu-heading {
    font-family: "Fredericka the Great", cursive;
    color: #fff;
    display: inline;
    font-weight: bold;
    font-size: 30px;
}

.menu-sub-heading {
    font-family: "Rancho", cursive;
    color: rgb(207, 23, 23);
    display: inline;
}

.menu-price {
    font-family: "Rancho", cursive;
    color: rgb(207, 23, 23);
    float: right;
}

.hori-line-style {
    border-top: 3px double #bf0000;
}
/*--About Us--*/
.top-container-about-us {
    height: 80vh;
    width: 100%;
    background: url("../images/about-us.jpg") no-repeat fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-img-about-us {
    width: 30px;
    height: auto;
}
/*--Thank you--*/

.top-container-thankyou {
    height: 80vh;
    width: 100%;
    background: url("../images/thankyou.jpg") no-repeat fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*--Custom media queries--*/

@media screen and (max-width: 990px) {
    .card-sm-margin {
        margin-top: 1.25rem;
    }
}

@media screen and (max-width: 900px) {
    .top-container-about-us {
        background-position-x: 50%;
    }
}

@media screen and (max-width: 576px) {
    .card-xs-margin {
        margin-top: 20px;
    }

    .d-flex {
        display: block;
    }

    .reserve-table-form{
        border: none!important;
    }
}